@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Schoolbell&display=swap");

@import "tailwindcss";

@theme {
  --font-audiowide: "Audiowide", sans-serif;
  --font-schoolbell: "Schoolbell", cursive;
}
